*{
    margin: 0px;
}


.header {
    background-color: rgb(0, 120, 168);
    margin: 0px;
    padding: 20px;
}
.header h1 {
    color: rgb(255, 255, 255);
    margin: 0px;
    font-family: 'Merriweather', serif;
    margin-left: 50px;
}

.body-box {
    margin: 40px 70px;
    font-family: 'Source Sans Pro', sans-serif;
}
.alarm_config {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
}
.alarm-button, .download-button, .disc-button{
    height: 30px;
    background-color:  rgb(196, 2, 2);
    color: white;
    font-weight: bold;
    font-size: medium;
    border: 0px;
    border-radius: 5px;
    padding: 5px 12px;
    transition: 0.2s;
    margin-right: 10px;
    cursor: pointer;
}
.download-button {
    background-color: rgb(0, 120, 168);
}
.disc-button {
    width: fit-content;
    height: fit-content;
}
.alarm-button:hover {
    background-color: rgb(253, 57, 57);
}
.download-button:hover {
    background-color: rgb(0, 157, 219);
}
.alarm_config p {
    margin-left: 10px;
    font-size: 20px;
}
.nav {
    margin: 20px 0px;
    display: flex;
    align-items: flex-end;
}
.nav .block {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}
.nav label {
    font-weight: bold;
}
.nav input, select {
    margin-top: 5px;
    height: 25px;
    border-radius: 5px;
}
.nav select, .disps_header select {
    height: 30px;
    background-color: white;
}
.log-disp-button, .send-msg-button{
    height: 30px;
    background-color:  rgb(0, 120, 168);
    color: white;
    font-weight: bold;
    font-size: medium;
    border: 0px;
    border-radius: 5px;
    padding: 0px 10px;
    margin-left: 10px;
    transition: 0.2s;
    cursor: pointer;
}
.send-msg-button {
    width: 104px;
    text-align: center;
}
.log-disp-button:hover,
.send-msg-button:hover{
    background-color: rgb(0, 157, 219);
}

.disp-box {
    margin-top: 20px;
    padding: 10px;
    border: 2px solid;
    border-radius: 10px;
    border-color: rgb(203, 255, 124);
}
.disp-box .disp-box-nav {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
}
.disp-box .title {
    font-size: larger;
    color: rgb(0, 120, 168);
}
.disp-box-data {
    display: flex;
    justify-content: space-between;
}
.disp-box-data .block {
    display: flex;
    margin: 10px 20px;
}
.disp-box-data p {
    margin-right: 20px;
}